<h1 class="mt-5 pt-5 text-center">Demande de devis</h1>
<div class="container">
  <%= form_for @devis do |f| %>
  <%= f.label :name, class: 'mt-5 text-form' %> <br>
  <%= f.text_field :name, required: true, class: 'w-100 field-form' %>
  <br>

  <%= f.label :email, class: 'text-form'  %> <br>
  <%= f.text_field :email, required: true,
                          :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}',
                          class: "w-100 field-form" %>
  <br>

  <%= f.label :message, class: 'text-form'  %> <br>
  <%= f.text_field :message, required: true, class: "w-100 field-form area-form" %>
  <br>
  <div class="text-center">
  <%= f.submit 'Envoyer message', class: 'mt-5 btn btn-contact' %>
  </div>
  <% end %>
</div>
