<h1 class="mt-5 text-center">Demande de devis</h1>
<div class="container">
  <%= form_for @devis do |f| %>
  <%= f.label :name %> <br>
  <%= f.text_field :name, required: true %>
  <br>

  <%= f.label :email %> <br>
  <%= f.text_field :email, required: true %>
  <br>

  <%= f.label :message %> <br>
  <%= f.text_field :message, required: true %>
  <br>

  <%= f.submit 'Envoyer message', class: 'btn btn-primary' %>
  <% end %>




  <label>Name</label><br>
  <input type="text">

  <br>

  <label>Email</label><br>
  <input type="text">

  <br>

  <label>Message</label><br>
  <textarea id="" cols="30" rows="10"></textarea>
</div>
