<h1 class="mt-5 text-center">Demande de devis</h1>
<div class="container text-center">
  <%= form_for @devis do |f| %>
  <%= f.label :name, class: 'mt-5 text-form' %> <br>
  <%= f.text_field :name, required: true, class: 'field-form' %>
  <br>

  <%= f.label :email %> <br>
  <%= f.text_field :email, required: true %>
  <br>

  <%= f.label :message %> <br>
  <%= f.text_field :message, required: true %>
  <br>

  <%= f.submit 'Envoyer message', class: 'mt-5 btn btn-primary' %>
  <% end %>
</div>
