<h1 class="pt-5 mt-5 text-center">Liste des sols</h1>
<div class="container mt-5">
  <p>Les prix calculés ne sont que des éstimations, pour avoir un devis, ou une plus large gamme de sol, veuillez nous contactez en appuyant sur ce bouton.</p>
  <div class="text-center">
    <%= link_to contact_index_path do  %>
        <button class="btn btn-contact">Contactez-nous</button>
    <% end %>
  </div>
  <div class="container row justify-content-center">
    <div class="cards">
    <% @sols.each do |sol| %>
      <div class='sol-card mt-5'>
        <%= image_tag cl_image_path(sol.photo, height: 150, width: 300, crop: :fill), alt: "Photo d'un sol" %>
          <% if user_signed_in? %>
            <%= link_to sol_path(sol.id), method: :delete do  %>
              <div class="suppri">
                <i class="far fa-times-circle"></i>
              </div>
            <% end %>
          <% end %>
          <div class="d-flex justify-content-between">
            <p class='mt-2 titre-sol'><%= sol.nom %></p>
            <div class="prices">
              <div class="price red d-flex">
                <div class="prix-js red"><%= sol.prix %>
                </div>€ <p class='mini'>/m²</p>
              </div>
            </div>
          </div>
          <p class='consigne'>Estimez le prix en indiquant le m²</p>
          <div class="calcul-price d-flex">
            <input class='input-m' type="number">
            <p class="btn btn-contact btn-calcul">Calcul</p>
            <p class="total-price"></p>
          </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
