<h1 class="mt-5 pt-5 text-center">Ajouter un sol</h1>

<div class="container">
  <%= simple_form_for @sol do |f| %>
    <%= f.input :nom %>
    <%= f.input :prix %>
    <%= f.input :photo %>
    <div class="form-actions text-center">
      <p class="btn btn-contact">
      <%= f.button :submit, "Ajouter" %>
      </p>
    </div>
  <% end %>
</div>
