<nav class="navbar">
  <div>
    <p class="rootnav"> <%= link_to root_path do %>
        <p class="logo mb-4">Bouvet Revetements</p>
      <% end %>
    </p>
  </div>
  <ul class="onglets">
    <li><%= link_to 'Sols', root_path %></li>
    <% if user_signed_in? %>
      <li>|</li>
      <li><%= link_to 'Ajouter', new_sol_path %></li>
      <li>|</li>
      <li><%= link_to 'Deco', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li>|</li>
      <li> <%= link_to 'Contact', contact_index_path %></li>
      <li>|</li>
      <li><%= link_to 'Devis', new_devi_path %></li>
    <% end %>
  </ul>
</nav>
